body{
    color: gold;
}
.grupo_1{
    color: deepskyblue;
}
h1,h2{
    font-family: 'Alkatra', cursive;
}
#listaU{color: magenta;}
#item_1{color: blue;}
#item_2{color: red}
#item_3{color: green;}
#item_4{color: yellow;}

#link_1{text-decoration: overline;}
#link_2{text-decoration: none;}
#link_3{text-decoration: line-through;}
#link_4{text-decoration: underline line-through;}
#link_5{text-decoration: underline ;}
p{
    background-color: black;
    margin: 25px 50px ;
    text-align: center;
    text-indent: 50px;
    line-height: 2;
    font-family: 'Roboto', sans-serif;
}
#Parrafoespecial{
    background-color: crimson;
    color: blue; 
    text-decoration: overline;
    text-align: justify; 
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    
}

#miCuadro{
    border: 5px solid black;
}
th, td{
    border: 1px dotted grey;
    font-family: 'Roboto', sans-serif;
}
.alterno{
    background-color: lightskyblue;
}
th:hover, td:hover{
    background-color: lightblue;
    color: black;
    font-size: 20px;
}
#miCuadro td:hover,#miCuadro th:hover{
    background-color: lightgreen;
    color: black;
}
h1:hover,h2:hover{
    background-color: darkslategray;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    text-shadow: #3CC62E 5px 5px 5px;
    font-size: 20px;
}
.tablaColores{font-family: 'Oxygen', sans-serif; color: black;}
.color_1-1{ background-color: rgb(255,0,0);}
.color_1-2{background-color: rgb(255,64,0);}
.color_1-3{background-color: rgb(255,128,0);}
.color_1-4{background-color: rgb(255,191,0);}
.color_2-1{background-color: rgb(255,255,0);}
.color_2-2{background-color: rgb(191,255,0);}
.color_2-3{background-color: rgb(128,255,0);}
.color_2-4{background-color: rgb(64,255,0);}
.color_3-1{background-color: rgb(0,255,0);}
.color_3-2{background-color: rgb(0,255,64);}
.color_3-3{background-color: rgb(0,255,128);}
.color_3-4{background-color: rgb(0,255,191);}
.color_4-1{background-color: rgb(0,255,255);}
.color_4-2{background-color: rgb(0,191,255);}
.color_4-3{background-color: rgb(0,128,255);}
.color_4-4{background-color: rgb(0,64,255);}
.color_5-1{background-color: rgb(0,0,255);}
.color_5-2{background-color: rgb(64,0,255);}
.color_5-3{background-color: rgb(128,0,255);}
.color_5-4{background-color: rgb(191,0,255);}
.color_6-1{background-color: rgb(255,0,255);}
.color_6-2{background-color: rgb(255,0,191);}
.color_6-3{background-color: rgb(255,0,128);}
.color_6-4{background-color: rgb(255,0,64);}
ul li:first-child{background-color: black; color: limegreen;}
ul li:last-child{background-color: lime;color: black;}
